.my_page {
    margin: 20px 60px;
}

.name {
    text-align: center;
    font-size: 32px;
}

.content {
    width: 100%;
    display: flex;
}

.content__left {
    text-align: left;
    margin-right: 100px;
}

.content-heading {
    margin-top: 20px;
    font-size: 24px;
}

.reserved {
    margin-top: 30px;
    padding: 30px;
    width: 400px;
    background-color: #3860fd;
    border-radius: 5px;
    color: #fff;
}

.reserved-table__heading {
    width: 100%;
    height: 30px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reserved-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.reserved-table-num {
    margin: 5px 0;
    padding-left: 50px;
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.reserved-table-num::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/clock.svg) no-repeat center center /auto 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 5px;
}

.reserved-table__row {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    height: 30px;
}

.reserved-table__label {
    width: 30%;
    height: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.reserved-table__data {
    padding-left: 20px;
    width: 70%;
    height: 20px;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
}

.email{
    text-align: right;
}

.email-btn{
    margin-left: 0;
    text-decoration: none;
    color: #fff;
}

.label{
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3860fd;
}

.form-control{
    border: none;
    border-radius: 3px;
    color: #3860fd;
}

.btn{
    border: none;
    border-radius: 3px;
    background: #3860fd;
    color: #fff;
}

.shop-edit_heading{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
}
@media screen and (max-width: 768px) {

    .my_page {
        width: 100%;
    }

    .content {
        display: block;
        margin-left: 0;
        margin-right: 30px;
    }

    .content__left {
        width: 100%;
        margin: 0;
        flex: 1 1 100%;
    }

    .reserved {
        width: 90%;
    }

    .content__right {
        width: 100%;
        flex: 1 1 100%;
    }



}